<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ace of Spades</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="~/Scripts/app/pizzaApp.js"></script>
    <script src="~/Scripts/app/orderService.js"></script>
</head>
<body ng-app="PizzaApp">
    <div ng-controller="OrderController">
    </div>
</body>
</html>
