<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ace of Spades</title>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/general.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="https://unpkg.com/angular-ui-router@0.3.1/release/angular-ui-router.js"></script>
    <script src="~/Scripts/app/pizzaApp.js"></script>

</head>
<!--Modify The Code Below to fit needs-->
<body ng-app="PizzaApp">
    <div class="container">
        <div id="banner">
            <p id="banner-text">Ace Of Spades Pizza</p>
        </div>
        <div ui-view></div>
    </div>
</body>
</html>
