body {
    background: rgb(246, 74, 34) 30%;
}

#banner {
    height: 10%;
    width: 100%;
    margin-bottom: 5%;
}

#banner-text{
    font-family: Playball, cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
    color: black;
}

#orderHistory{
    text-align: center;
    font-size: 16px;
    border: black solid 2px;
}

#history-text{
    text-align: center;
}